h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

input[type="radio"] {
  margin: 0;
}

label {
  font-weight: normal;
  font-size: 20px;
  padding: 2px;
  border: 1px solid #ccc;
  margin-left: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 4px solid gray;
}

.center {
  text-align: center;
  clear: left;
}

.left_align {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 10px;
}

#grid_div {
  margin: auto;
  float: left;
  width:700px;
  height:700px;
}
